:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --accent-darker-color: #188CE8;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    letter-spacing: 0.03em;
    
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


.logo-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-color);
}

.logo-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.logo-1 span, .logo-2 span {
    color: var(--accent-color);
}

.header-nav a, .header-contact a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-nav a {
    color: var(--primary-color);
}

.header-contact a {
    color: var(--secondary-color);
}

.header-nav a:hover, .header-contact a:hover, .footer-contact a:hover {
    color: var(--accent-color);
}


.solution {
    background-color: #2F303A;
}

.solution h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.35;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.solution button {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.solution button:hover {
    background-color: var(--accent-darker-color);
}

.feature h3 {
    font-size: 14px;
    line-height: 1.17214286;
    font-weight: 700;
}
.feature p {
    font-size: 14px;
    line-height: 1.71428571;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}
.our-job h2 {
    font-size: 36px;
    line-height: 1.17194444;
    font-weight: 700;
}
.our-team h2 {
    font-size: 36px;
    line-height: 1.17194444;
    font-weight: 700;
}
.our-team h3 {
    font-size: 16px;
    line-height: 1.171875;
    font-weight: 500;
}
.our-team p {
    font-size: 16px;
    line-height: 1.171875;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

.footer {
    background-color: #2F303A;
}

.footer address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.footer-contact p {
    color: #FFFFFF;
    margin: 0;
}
.footer-contact a {
    color: var(--secondary-color);
}


.portfolio-buttons button {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color:var(--primary-color);
}
.portfolio-buttons button:hover {
    color:#FFFFFF;
    background-color: var(--accent-color);
}
.portfolio-post h3 {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}
.portfolio-post p {
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-color)
}
